.contact-info {
    display: flex;
    background-color: #0B6E4F;
    width: 450px;
    margin: 50px auto 0;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}

.contact-info a, p, h2{
    margin: 0.5rem;
    color: white;
}

.contact-info a:hover {
    color: black;
}