*, :after, :before{
    box-sizing: border-box;
}

body {
    margin: 53px 0 0 0;
    background-color: #C1BDB3;
    font-family: Roboto, Verdana ;
    height: 100%;
    min-height: 100vh;
}

.flex-container{
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.flex-grid {
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 0;
    justify-content: center;
}

.content {
    flex: 1;
    margin-top: 53px;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    margin-top:0;
    flex-direction: column;
}

.last-content {
    margin-bottom: 150px;
}